<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Not Matching Promises</title>
    <link href="/css/header.css?v=1.0" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header__container">
        <h1 class="main-title">노긋메인홈</h1>
        <div class="header__block">
            <a href="#"> 마이페이지 </a>
            <a href="#"> 로그인 </a>
        </div>
        <nav class="header__nav-block">
            <ul class="nav__list" role="navigation">
                <li class="nav__list-item">
                    <a href="/main" aria-label="노긋노긋 홈페이지">
                        <img src="/images/logo.png" width="50px" alt="로고">
                    </a>
                </li>
                <li class="nav__list-item"><a href="#"> 매칭하기 </a></li>
                <li class="nav__list-item"><a href="#"> 약속 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서작성 </a></li>
                <li class="nav__list-item"><a href="#"> 후기작성 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서확인 </a></li>
            </ul>
        </nav>
        <div class="side__nav-container">
            <ul class="nav__list" role="navigation">
                <li class="nav__review__list-item">
                    <a href="/promiseList/notmatchingPromiseList"> 수락 전 </a>
                </li>
                <li class="nav__review__list-item">
                    <a href="/promiseList/matchingPromiseList"> 수락 후 </a>
                </li>
            </ul>
        </div>
    </header>

    <main>
        <h1>Matching Promises</h1>
        <% if (promises.length===0) { %>
            <p>아직 잡은 약속이 없습니다.</p>
            <% } else { %>
                <ul class="promise-list">
                    <% promises.forEach(promise=> { %>
                        <li class="promise-item"
                            style="background-color: white; border: 1px solid #E1EFD7; height: 70px; margin-top: 20px;">
                            <div>
                                <span>약속번호: <%= promise.promiseNum %></span>
                            </div>
                            <div>
                                <span>약속 날짜: <%= promise.date %></span>
                                <span>시작 시간: <%= promise.startTime %></span>
                                <span>종료 시간: <%= promise.finishTime %></span>
                            </div>
                            <button class="btn btn-primary"
                                onclick="redirectToPromiseDetailPage('<%= promise.promiseNum %>')">상세보기</button>
                        </li>

                        <% }); %>
                </ul>
                <% } %>
    </main>
    <!-- 자바스크립트 코드 추가 -->
    <script>
            function redirectToPromiseDetailPage(promiseNum) {
                // 약속 상세페이지의 URL을 생성합니다.
                const promiseDetailUrl = `/promiseList/${promiseNum}/request`;

                // 약속 상세페이지로 이동합니다.
                window.location.href = promiseDetailUrl;
            }
    </script>
    <!-- Footer Section -->
    <footer class="footer__container">
        <section class="pages__container">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">커뮤니티이용규칙</a>
            <a href="#">문의하기</a>
        </section>
    </footer>
</body>

</html>