<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="start-date" content="2024-05-10">
    <title>노긋노긋</title>

    <link href="/css/promiseList.css?v=1.0" rel="stylesheet" type="text/css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
        integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="header__container">
        <h1 class="main-title">노긋메인홈</h1>
        <div class="header__block">
            <a href="#"> 마이페이지 </a>
            <a href="#"> 로그인 </a>
        </div>
        <nav class="header__nav-block">
            <ul class="nav__list" role="navigation">
                <li class="nav__list-item">
                    <a href="#" aria-label="노긋노긋 홈페이지">
                        <img src="/images/logo.png" width="50px" alt="로고">
                    </a>
                </li>
                <li class="nav__list-item"><a href="#"> 매칭하기 </a></li>
                <li class="nav__list-item"><a href="#"> 채팅 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서작성 </a></li>
                <li class="nav__list-item"><a href="#"> 후기작성 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서확인 </a></li>
            </ul>
        </nav>
        <div class="side__nav-container">
            <ul class="nav__list" role="navigation">
                <li class="nav__review__list-item">
                    <a href="#">받은 약속</a>
                </li>
                <li class="nav__review__list-item">
                    <a href="/report-list">성사된 약속</a>
                </li>
            </ul>
        </div>
    </header>

    <main>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promise List</title>
</head>

<body>
    <h1>Promise List</h1>
    <div class="list-container">
        <% promises.forEach(function(promise) { %>
            <div class="promise-item">
                <p>약속 번호: <%= promise.promiseNum %>
                </p>
                <p>학생 이름: <%= promise.studentProfile.member.name %>
                </p>
                <p>노인 이름: <%= promise.seniorProfile.member.name %>
                </p>
                <p>약속 날짜: <%= promise.promiseDay %>
                </p>
                <p>시작 시간: <%= promise.startTime %>
                </p>
                <p>종료 시간: <%= promise.finishTime %>
                </p>
            </div>
            <% }) %>
    </div>
</body>

</html>

    </main>

    <script src="review.js"></script>

    <!-- Footer Section -->
    <footer class="footer__container">
        <section class="pages__container">
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">커뮤니티이용규칙</a>
            <a href="#">문의하기</a>
        </section>
    </footer>
</body>

</html>