<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>보고서 상세</title>
    <link href="/css/reportDetail.css?v=1.0" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="header__container">
        <h1 class="main-title">노긋메인홈</h1>
        <div class="header__block">
            <a href="#"> 마이페이지 </a>
            <a href="#"> 로그인 </a>
        </div>
        <nav class="header__nav-block">
            <ul class="nav__list" role="navigation">
                <li class="nav__list-item"><a href="#"> 매칭하기 </a></li>
                <li class="nav__list-item"><a href="#"> 채팅 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서작성 </a></li>
                <li class="nav__list-item"><a href="#"> 후기작성 </a></li>
                <li class="nav__list-item"><a href="#"> 보고서확인 </a></li>
            </ul>
        </nav>
    </header>
    <div class="report-detail-container">
        <h2>보고서 상세</h2>
        <div>
            <span>보고서 번호: <%= report.reportNum %></span>
            <span>학생 이름: <%= student.name %></span>
            <span>노인 이름: <%= senior.seniorName %></span>
            <span>내용: <%= report.reportContent %></span>
            <img src="data:image/png;base64,<%= base64Image %>" alt="Report Image">
            <span>보고서 작성 날짜: <%= report.createdAt.toLocaleString() %></span>
            <span>약속 날짜: <%= promiseDay.toLocaleDateString() %> <%= startTime %> - <%= finishTime %></span>
            <span>확인 날짜: <% if (report.reportStatus) { %><%= report.updatedAt.toLocaleString() %><% } else { %>아직 확인하지 않았습니다.<% } %></span>
        </div>
        <% if (user.userType === 'senior') { %>
            <% if (!report.reportStatus) { %>
                <button onclick="confirmReport(<%= report.reportNum %>)">확인</button>
            <% } else { %>
                <span>이미 확인이 완료되었습니다.</span>
            <% } %>
        <% } else if (user.userType === 'student') { %>
            <% if (report.reportStatus) { %>
                <span>확인이 완료된 보고서입니다.</span>
            <% } %>
        <% } %>
    </div>
    <script>
        function confirmReport(reportNum) {
            fetch(`/confirmReport/${reportNum}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert(data.message);
                        location.reload();
                    } else {
                        alert('확인 중 오류가 발생했습니다.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
